In [3]:
# Import all dependencies
import joblib
import numpy as np
import pandas as pd
from scipy import constants
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [4]:
# Load dataset
df = pd.read_csv("data/weight-height.csv")
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [5]:
df['Weight'] = np.around(df['Weight'] * constants.pound, 1)
df['Height'] = np.around(df['Height'] * constants.inch * 100)
df['Height'] = df['Height'].astype(np.int64, errors='ignore') 
df.head()

  Gender  Height  Weight
0   Male     188   109.7
1   Male     175    73.6
2   Male     188    96.5
3   Male     182    99.8
4   Male     177    93.6

In [6]:
df['Gender'].value_counts()

Male      5000
Female    5000
Name: Gender, dtype: int64

In [7]:
df.Gender = df.Gender.map({"Male" : 0, "Female" : 1})
df.sample(n=10)

      Gender  Height  Weight
6267       1     157    67.1
2778       0     186    94.6
7118       1     165    65.1
2076       0     177    93.1
6977       1     174    71.5
3673       0     172    78.7
3771       0     179    87.3
5637       1     158    61.0
1547       0     190    94.0
2057       0     180    90.5

In [8]:
X = df[ ["Gender", "Height"] ]
y = df[ ["Weight"] ]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [9]:
lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)

LinearRegression()

In [11]:
lin_reg.score(X_test, y_test)

0.903475347876444

In [12]:
np.round(lin_reg.predict([[1, 158]])[0][0],1)

C:\Users\duant\miniconda3\envs\weight_predict\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

57.6

In [16]:
# Save the model
joblib_file = "WeightPredictionLinRegModel.joblib"
joblib.dump(lin_reg, joblib_file)

['WeightPredictionLinRegModel.joblib']